@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1f1f1f;
    color: #fdfdfd;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#container {
    width: 80%;
    max-width: 400px;
    height: fit-content;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #fdfdfd;
    border-radius: 15px;
}

header {
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #fdfdfd;
}

#item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    padding: 2rem;
    border-bottom: 1px solid #fdfdfd;
}

#item-form input, #item-form button {
    outline: none;
    padding: .6rem;
    border: 1px solid #fdfdfd;
    background-color: #1f1f1f;
    color: #fdfdfd; 
    border-radius: 5px;
    width: 100%;
}

#item-form button {
    width: 50%;
}

#item-form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

#item-form button:hover {
    background-color: #fdfdfd;
    color: #1f1f1f;
}

#items-list {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .6rem;
    background-color: #333;
    border-bottom: 1px solid #fdfdfd;
}

.item-info  {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-right: auto;
}

button {
    padding: .4rem;
    border: none;
    background-color: #1f1f1f;
    color: #fdfdfd; 
    border-radius: 5px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #fdfdfd;
    color: #1f1f1f;
}

button i {
    pointer-events: none;
}

.below {
    background-color: #ff00004d;
}

.hide {
    display: none;
}